@using Help.Common.ViewModel
@model Help.Common.ViewModel.PagedList<Help.DataService.VModel.ServiceRouteDB.VMServiceRoute>

@{
    ViewBag.Title = "服务路由查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headSection{
    <link href="http://resource.common.com/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://resource.common.com/layer-v2.2/layer/skin/layer.css" rel="stylesheet" />
}

@section scripts{
    <script src="http://resource.common.com/jquery/jquery-1.12.0.js"></script>
    <script src="http://resource.common.com/sea.js"></script>
    <script type="text/javascript">
        seajs.config({

            // 解析顶级域名
            base: "http://resource.common.com/",

            // 别名
            alias:
            {
                "jsRender": "http://resource.common.com/jquery.jsRender.min.js",
                "underscore": "http://resource.common.com/underscore.js",
                "bootstrap": "http://resource.common.com/bootstrap-3.3.5-dist/js/bootstrap.min.js",
                "layer": "http://resource.common.com/layer-v2.2/layer/layer.js",
                "jqueryPlugin": "http://resource.common.com/jquery/jquery.plugin.js",
                "Pager": "http://resource.common.com/HelpWeb/ServiceRoute/Pager.js",
            },

            // 预加载
            preload: ["underscore", "bootstrap", "layer", "jsRender", "jqueryPlugin", "Pager"],
        });

        // 页面加载模块
        seajs.use(["underscore", "bootstrap", "layer", "jsRender", "jqueryPlugin", "Pager"]);

    </script>
}

<style type="text/css">
    .page-num {
        width: 98%;
        /* [disabled]padding: 0px 0px 5px 0px; */
        margin: 0px auto 5px auto;
        /* [disabled]line-height: 24px; */
        /* [disabled]border-bottom:#ccc 1px solid; */
        text-align: right;
        position: relative;
    }
</style>

<div id="query" style="margin-top: 30px; margin-left: 20px;">
    @using (@Html.BeginForm("Pager", "ServiceRoute", FormMethod.Get, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            <label for="ContractName" class="col-sm-1 control-label" style="text-align: right;">契约名</label>
            <div class="col-sm-3">
                @Html.TextBox("ContractName", this.ViewData["ContractName"], new { @class = "form-control" })
            </div>

            <label for="UniqueSign" class="col-sm-1 control-label" style="text-align: right;">程序唯一编码</label>
            <div class="col-sm-1">
                @Html.TextBox("UniqueSign", this.ViewData["UniqueSign"] == null ? "GJ2014" : this.ViewData["UniqueSign"], new { @class = "form-control" })
            </div>

            <label for="IsValid" class="col-sm-1 control-label" style="text-align: right;">是否生效</label>
            <div class="col-sm-1" style="text-align: right;">
                <select class="form-control" name="IsValid">
                    @if (this.ViewData["IsValid"] == null)
                    {
                        <option value="" selected>全部</option>
                    }
                    else
                    {
                        <option value="">全部</option>
                    }

                    @if (this.ViewData["IsValid"] != null && this.ViewData["IsValid"].ToString() == "1")
                    {
                        <option value="1" selected>是</option>
                    }
                    else
                    {
                        <option value="1">是</option>
                    }

                    @if (this.ViewData["IsValid"] != null && this.ViewData["IsValid"].ToString() == "0")
                    {
                        <option value="0" selected>否</option>
                    }
                    else
                    {
                        <option value="0">否</option>
                    }
                </select>
            </div>

            <div class="col-sm-4">
                <button type="submit" class="btn btn-default" id="QueryServiceRoute">查&nbsp;&nbsp;询</button>

                <!-- 按钮触发模态框 -->
                <button class="btn btn-primary" data-toggle="modal" type="button" id="addRefBtn"
                    data-target="#updateServiceRouteModal">
                    添&nbsp;&nbsp;加
                </button>
            </div>
        </div>
    }
</div>

<div id="result" width="80%" style="margin-left: 20px;">
    <table class="table table-hover">
        <caption></caption>
        <thead>
            <tr>
                <th>契约名</th>
                <th>调用方</th>
                <th>服务类型</th>
                <th>机房标识</th>
                <th>唯一编码</th>
                <th>绑定类型</th>
                <th width="20px;">IP</th>
                <th width="15px;">端口</th>
                <th>目标服务svc相对路径</th>
                <th>生效状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                <tr>
                    <td>
                        <div style="width: 560px; word-break: break-all;">@Model[i].ContractName</div>
                    </td>
                    <td>@Model[i].CallSystem</td>
                    <td>@Model[i].ServiceType</td>
                    <td>@Model[i].DataCenter</td>
                    <td>@Model[i].UniqueSign</td>
                    <td>@Model[i].BindingType</td>
                    <td width="20px;">@Model[i].ServiceIP</td>
                    <td width="15px;">@Model[i].ServicePort</td>
                    <td>@Model[i].SvcPath</td>
                    <td>@if (Model[i].IsValid == 1)
                        {
                        <span>是</span>
                        }
                        else
                        {
                        <span>否</span>
                        }
                    </td>
                    <td>
                        <div style="width: 220px;">
                            <button type="button" class="btn btn-primary btn-xs updateButton" RouteID="@Model[i].RouteID" data-toggle="modal"
                    data-target="#updateServiceRouteModal">
                                修改
                            </button>

                            <button type="button" class="btn btn-default btn-xs validOperateButton" RouteID="@Model[i].RouteID" IsValid="@Model[i].IsValid" ContractName="@Model[i].ContractName">
                                @if (Model[i].IsValid == 1)
                                {
                                    <span>禁用</span>
                                }
                                else
                                {
                                    <span>启用</span>
                                }
                            </button>

                            <button type="button" class="btn btn-primary btn-xs copyAddRefButton" RouteID="@Model[i].RouteID" data-toggle="modal"
                    data-target="#updateServiceRouteModal">
                                复制添加
                            </button>
                            <button type="button" class="btn btn-default btn-xs deleteRefBtn" RouteID="@Model[i].RouteID" ContractName="@Model[i].ContractName">
                                删除
                            </button>
                        </div>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>

    @if (@Model != null && @Model.Count > 0)
    {
        <div class="page-num">
            @Html.Pager(Model, new Help.Common.ViewModel.PagerOptions
            {
                AutoHide = false,
                PageIndexParameterName = "pageIndex",
                ShowNumericPagerItems = false,
                ShowPageIndexBox = true,
                ShowFirstLast = true,
                ShowGoButton = true,
                GoToPageSectionWrapperFormatString = "转到：{0}",
                PageHeadSectionAttachFormatString = string.Format("每页{0}条&nbsp;&nbsp;共{1}条", Model.PageSize, Model.TotalItemCount),
                PagerTailSectionAttachFormatString = Model.CurrentPageIndex + " /" + Model.TotalPageCount,
                GoButtonText = "确定"
            })
        </div>
    }
</div>

<!-- 修改路由框 -->
<div class="modal fade" id="updateServiceRouteModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div id="updatediv"></div>
        <!-- /.modal-content -->
    </div>
</div>

<!-- 修改模板 -->
<script id="updateTmpl" type="text/x-jsrender">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title" id="updateModalLabel">添加路由信息
            </h4>
        </div>
        <div class="modal-body">

            <form class="form-horizontal" id="updateform">
                <input type="hidden" name="RouteID" value="{{:RouteID}}" />
                <div class="form-group">
                    <label for="ContractName" class="col-sm-3 control-label" style="text-align: right;">契约名</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="ContractName" value="{{:ContractName}}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="CallSystem" class="col-sm-3 control-label" style="text-align: right;">调用方</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="CallSystem" value="{{:CallSystem}}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="ServiceType" class="col-sm-3 control-label" style="text-align: right;">服务类型</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="ServiceType" value="{{:ServiceType}}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="MachineNO" class="col-sm-3 control-label" style="text-align: right;">机房标示</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="MachineNO" value="{{:MachineNO}}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="DataCenter" class="col-sm-3 control-label" style="text-align: right;">机房标示</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="DataCenter" value="{{:DataCenter}}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="UniqueSign" class="col-sm-3 control-label" style="text-align: right;">唯一编码</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="UniqueSign" value="{{:UniqueSign}}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="BindingType" class="col-sm-3 control-label" style="text-align: right;">绑定类型</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="BindingType" value="{{:BindingType}}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="ServiceIP" class="col-sm-3 control-label" style="text-align: right;">IP</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="ServiceIP" value="{{:ServiceIP}}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="ServicePort" class="col-sm-3 control-label" style="text-align: right;">端口</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="ServicePort" value="{{:ServicePort}}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="SvcPath" class="col-sm-3 control-label" style="text-align: right;">服务svc相对路径</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="SvcPath" value="{{:SvcPath}}" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                data-dismiss="modal">
                关闭
            </button>
            <button type="button" class="btn btn-primary" id="updateServiceRouteBtn">
                提交更改
            </button>
        </div>
    </div>
</script>


